body {
	margin: 0;
}

main {
	margin: 1rem;
	/* background-color: lightcyan; */
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

#orderPageTitle {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 0;
	font-weight: normal;
}

#orderGuide {
	font-size: 1.5rem;
	padding: 1rem;
	border: 1px solid black;
	max-height: 25rem;
	overflow: scroll;
	overflow-x: hidden;
}

.fa-hammer {
	font-size: 3rem;
	z-index: 10;
	position: absolute;
	bottom: 3.5rem;
	left: 3rem;
}

#startButton {
	width: 15rem;
	height: 3rem;
	margin-top: 3rem;
}
